:root {
    --light-grey: #f5f6f7;
    --dark-grey: #0a0a23;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
}

body {
    background-color: var(--dark-grey);
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    border: 2px solid var(--golden-yellow);
    width: fit-content;
    border-radius: 10px;
    padding: 20px;
}

select,
input,
label {
    margin-left: 10px;
}

div {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1,
h2 {
    margin-top: 20px;
    text-align: center;
    color: var(--light-grey);
}

label {
    color: var(--light-grey);
}

#category-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--light-grey);
    align-self: center;
    width: 80%;
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;
}

.bookmark-item {
    color: var(--dark-grey);
    background-color: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.bookmark-item:hover {
    background-color: #eee;
}

.bookmark-item.selected {
    background-color: #d9534f;
    color: white;
}

button {
    cursor: pointer;
    padding: 5px;
    width: 120px;
    margin: 10px;
    color: var(--dark-grey);
    background-color: var(--golden-yellow);
    background-image: linear-gradient(#fecc4c, #ffac33);
    border-color: var(--golden-yellow);
    border-width: 3px;
    border-radius: 5px;
}

button:hover {
    background-image: linear-gradient(#ffcc4c, #f89808);
}